@{
    ViewData["Title"] = "Privacy Policy";
}
<head>
  <meta charset="UTF-8">
  <title>Acuerdo de Privacidad</title>
</head>
<body>
  <h1>Acuerdo de Privacidad</h1>

  <h2>Recopilación de Información Personal</h2>
  <p>En nuestro sitio web, recopilamos cierta información personal cuando te registras, realizas una compra o interactúas con nuestros servicios. La información recopilada puede incluir tu nombre, dirección de correo electrónico, dirección de envío, número de teléfono y detalles de pago.</p>

  <h2>Uso de la Información Recopilada</h2>
  <p>La información personal que recopilamos se utiliza para procesar tus pedidos, proporcionar un servicio al cliente eficiente y mejorar la experiencia de compra en nuestro sitio web. También podemos utilizar tu dirección de correo electrónico para enviarte actualizaciones sobre nuestros productos y promociones especiales, pero siempre tendrás la opción de darte de baja de estas comunicaciones.</p>

  <h2>Divulgación a Terceros</h2>
  <p>No compartiremos tu información personal con terceros, excepto en los casos en que sea necesario para completar una transacción, como proporcionar tu dirección de envío a nuestros proveedores de logística. Además, podemos divulgar tu información si así lo exige la ley o si creemos de buena fe que dicha acción es necesaria para proteger nuestros derechos o cumplir con un proceso legal.</p>

  <h2>Seguridad de la Información</h2>
  <p>Implementamos medidas de seguridad razonables para proteger tu información personal contra accesos no autorizados, modificaciones, divulgaciones o destrucciones. Sin embargo, debes tener en cuenta que ningún método de transmisión a través de Internet o almacenamiento electrónico es 100% seguro y confiable.</p>

  <h2>Cookies</h2>
  <p>Nuestro sitio web utiliza cookies para mejorar tu experiencia de navegación. Estas cookies pueden rastrear información como tu actividad en el sitio, tus preferencias y tu carrito de compras. Puedes deshabilitar las cookies en la configuración de tu navegador si no deseas que se te rastree.</p>

  <h2>Enlaces a Sitios Web Externos</h2>
  <p>Nuestro sitio web puede contener enlaces a otros sitios externos. No nos hacemos responsables de las prácticas de privacidad o el contenido de dichos sitios web. Te recomendamos que revises las políticas de privacidad de esos sitios antes de proporcionarles tu información personal.</p>

  <h2>Cambios a esta Política de Privacidad</h2>
  <p>Podemos actualizar esta política de privacidad en cualquier momento. Te recomendamos que revises periódicamente esta página para estar al tanto de cualquier cambio. Al utilizar nuestro sitio web, aceptas los términos de esta política de privacidad.</p>

  <h2>Contacto</h2>
  <p>Si tienes alguna pregunta o inquietud sobre nuestra política de privacidad, no dudes en contactarnos a través de los datos de contacto proporcionados en nuestro sitio web.</p>
</body>
