@{
    ViewData["Title"] = "Productos";
}
<body>
  <main class="Producs">
    <section class="productos">
      <h2>Productos</h2>
      <div class="producto">
        <img src="~/Imagen/Leggins.jpeg" alt="Leggins" style="width: 200px;height: auto;">
        <h3>Leggins</h3>
        <p>Estos leggings son la opción perfecta para combinar estilo y comodidad.</p>
        <button>Agregar al carrito</button>
      </div>
      <div class="producto">
        <img src="~/Imagen/Pantalon.jpeg" alt="Pantalon" style="width: 200px;height: auto;">
        <h3>Pantalon</h3>
        <p>Este pantalón es una opción elegante y versátil para lucir un estilo sofisticado en cualquier ocasión.</p>
        <button>Agregar al carrito</button>
      </div>
      <div class="producto">
        <img src="~/Imagen/Vestido.jpeg" alt="Vestido" style="width: 200px;height: auto;">
        <h3>Vestido</h3>
        <p>Este vestido es una opción encantadora para lucir elegante y femenina.</p>
        <button>Agregar al carrito</button>
      </div>
    </section>

    <aside class="carrito">
      <h2>Carrito</h2>
      <ul>
        <li>Leggins - $3,500</li>
        <li>Vestido - $4,000</li>
      </ul>
      <button>Realizar compra</button>
    </aside>
  </main>

  <footer>
    <p>Saper &copy; 2023</p>
  </footer>
</body>