@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole>

@{

	ViewData["Title"] = "Application Role";
}

<h1>View Roles</h1>
<p>
	<a asp-action="Create">Crear rol</a>
</p>

<table class="table">
	<thead>
		<tr>
			<th>@Html.DisplayNameFor(Model=>Model.Id)</th>
			<th>@Html.DisplayNameFor(Model=>Model.Name)</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach(var item in Model)
		{
			<tr>
				<td>@Html.DisplayNameFor(Model=>Model.Id)</td>
				<td>@Html.DisplayNameFor(Model=>Model.Name)</td>
			</tr>
		}
	</tbody>

</table>
